@import "../styles/ui.scss";

.landingContainer {
  display: grid;
 grid-template-columns: 1fr;
 grid-template-areas: 
 'deco-top'
 'button'
 'deco-bottom';

  background: $light-taupe;

  .decoCornersTop {
    &::before {
      content: url("../assets/deco-corner-1_1.svg");
      width: 19rem;
      height: 6rem;
      position: absolute;
      inset: 2rem;
      filter: invert(30%) sepia(10%) saturate(650%) hue-rotate(1deg) brightness(165%) contrast(80%);
    }

    &::after {
      content: url("../assets/deco-corner-2.svg");
      width: 19rem;
      height: 6rem;
      position: absolute;
      right: 2rem;
      top: 15.4rem;
      transform: scaley(-1);
      fill: $white;
      filter: invert(30%) sepia(10%) saturate(650%) hue-rotate(1deg) brightness(165%) contrast(80%);

      @media (max-width: 576px) {
        display: none;
      }
    }

    &:hover {
        // filter: invert(30%) sepia(15%) saturate(750%) hue-rotate(1deg) brightness(125%) contrast(90%) ;
      }
  }
  .decoCornersBottom {
    width: 100%;
    position: relative;
    transform: scaleY(-1);
    &::before {
      content: url("../assets/deco-corner-1_1.svg");
      width: 19rem;
      height: 6rem;
      position: absolute;
      inset: 2rem;
      filter: invert(30%) sepia(10%) saturate(650%) hue-rotate(1deg) brightness(165%) contrast(80%);

      @media (max-width: 576px) {
        display: none;
      }
    }

    &::after {
      content: url("../assets/deco-corner-2.svg");
      width: 19rem;
      height: 6rem;
      position: absolute;
      right: 2rem;
      top: 15.3rem;
      transform: scaleY(-1);
      filter: invert(30%) sepia(10%) saturate(650%) hue-rotate(1deg) brightness(165%) contrast(80%);
    }
  }
}
