@import "../styles/variables";

.mainButton {
  border-radius: 5rem;
  border: 2px solid $white;
  background: $black;
  color: $white;
  height: 3.4rem;
  padding: 0.5rem 2.1rem;
  display: flex;
  align-items: center;
  transition: 0.2s;
  -webkit-text-stroke: 1px $white;

  &:hover {
    background: $mid-taupe;
    color: $black;
    border: 2px solid $black;
    -webkit-text-stroke: 1px $black;
  }
}

.backBtnContainer {
  padding: 1.5rem 2.5rem;
  background-image: url("../assets/back-btn-bg.svg");
  background-position: left;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.mainBtnContainer {
    padding: 1.5rem 2.5rem;
    background-image: url("../assets/main-btn-bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    place-content: center;
  }


.squareButton {
  border: 1px solid $line-brown;
  background: $button-taupe;
  padding: 0.3rem 1rem;
}

.linkButton {
  background: transparent;
  border: none;
}
