@use "../styles/variables" as v;

.mainButton {
  border-radius: 5rem;
  border: 2px solid v.$white;
  background: v.$black;
  color: v.$white;
  height: 3.4rem;
  padding: 0.5rem 2.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  -webkit-text-stroke: 1px v.$white;

  &:hover {
    background: v.$mid-taupe;
    color: v.$black;
    border: 2px solid v.$black;
    -webkit-text-stroke: 1px v.$black;
  }
}

.backBtnContainer {
  padding: 1.5rem 2.5rem;
  background-image: url("../assets/back-btn-bg.svg");
  background-position: left;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.mainBtnContainer {
    padding: 1.5rem 2.5rem;
    background-image: url("../assets/main-btn-bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    place-content: center;
  }


.linkButton {
  background: transparent;
  border: none;
}

.roundBtn  {
  width: 2rem;
  height: 2rem;
  background: v.$paper;
  border: 1px solid v.$black;
  border-radius: 50% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
}

.squareButton {
  width: fit-content;
  color: v.$white;
  background-color: v.$bg-brown;
  border: 1.5px solid v.$line-brown;
  padding: 0.2rem 1rem;
  font-weight: 700;
}
