p {
    font-size: 1.3rem;
    line-height: 1.1;
}

.fontLimeLight {
    font-family: 'Limelight', cursive;
}

.fontQuattroCento {
    font-family: 'Quattrocento', ;
}

.textStrokeWhite {
    -webkit-text-stroke: 1px $white;
}

.textStrokeBlack {
    -webkit-text-stroke: 1px $black;
}


//******* font sizes *******

.font12 {
    font-size: 1.2rem;
}
.font14 {
    font-size: 1.4rem;
}

.font16 {
    font-size: 1.6rem;
}

.font18 {
    font-size: 1.8rem;
}

.font20 {
    font-size: 2.0rem;
}
.font35 {
    font-size: 3.5rem;
}

//********* TITLES ***********
//Card-heading / Title in UI scss

.title1Blk {
    font-size: 1.6rem;
    -webkit-text-stroke: 1px $black;
}