@import "./buttons";
@import "./variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;

  a {
    text-decoration: unset;
    color: unset;

    &:hover {
      text-decoration: unset;
      color: unset;
    }
  }
}

:root {
  height: 100%;
  font-family: "Poiret One", cursive;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
}
