@import "../../../styles/ui.scss";

.invitationContainer {
  background: $light-taupe;
  width: 100%;
  isolation: isolate;
  height: 100%;

  .mainContainerOffset {
    padding-top: 5rem;
  }

  .guestContainer {
    width: 100%;
    max-width: 29rem;
    padding: 1rem;
    transition: 0.4s;

    @media (max-width: 576px) {
      width: min(26rem, 100%);
    }

    .cardHeadingContainer {
      inset: 3.2rem 0 0.5rem;
    }

    &:hover {
      // transform: scale3d(1.01, 1.01, 1.01); //// need to find out how to remove that for edit guest open => breaking the desing
      z-index: 1000;
      box-shadow: 0px 0px 15px rgba(0,0,0, 0.3);
      // border-radius: 2rem;   
      background: $mid-taupe;
    }
  }
}

.modalContainer {
  height: 100%;
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  place-items: center;

  .Form {
    background: $light-taupe;
    &::before {
      content: "";
    }
  }
}

.backdrop {
  position: fixed;
  inset: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  z-index: 1;

  &::before {
    content: "";
    background: #000;
    opacity: 0.7;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
}
