@import "../../../styles/global.scss";

.invitationContainer {
  width: 100%;
    isolation: isolate;

  .guestCardHeader {
    z-index: 10;
    margin-bottom: -1px;
  }

  .guestCard {
    background: #fff;
    padding: 2.8rem 2rem 2rem;
    height: 46.3rem;
    overflow-y: auto;
    border: 1px solid $line-brown;

    @include insetBoxShadow();
  }
}
