@import "../../../styles/ui.scss";

.partyListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .partyContainer {
   
      width: 100%;
      max-width: 28rem;
  
      @media (max-width: 576px) {
        width: min(26rem, 100%);
      }
  
      .cardHeadingContainer {
        inset: 3.2rem 0 0.5rem;

        .cardHeading {
           text-overflow: ellipsis;
        }
       
      }
  }
}
