@import '../../styles/ui.scss';

.modal {
    z-index: 1001;
    border: none;
    background: transparent;
    border-radius: 6px;
    margin-inline: auto;
    // height: auto;
    // max-height: fit-content;
    position: absolute;
    inset: 5vh 0 0;
  }

  .form {
    background: $light-taupe;
     width: max(40%,30rem);
     padding: 5rem;    
 }
  


  