@import "../../styles/ui.scss";

.sideBarContainer {
  width: min(8.8rem, 20%);
  background: #d5d5d5;
  border-left: 1px solid $line-brown;
  border-right: 1px solid $line-brown;

  .sideBarTitle {
    background: $white;
    border-radius: 50% 50%;
    min-width: max-content;
    aspect-ratio: 1 / 1;
    display: flex;
   justify-content: center;
    position: absolute;
    z-index: 1000;
    padding: 1rem;
    border-inline: 2px solid $black;
    transform: rotate(-30deg) translateY(-34%);

    @include bottomDropShadow();


    h3 {
     text-align: center;
      font-size: 1.8rem;
      white-space: nowrap;
      align-self: end;
      margin-bottom: 2rem;
    }
  }

  .sideBarNav {
    height: 100%;

    ul {
      height: 100%;
      max-height: 70rem;
    }

    .sideBarIcons {
      transition: 0.3s;

      &:hover {
         transform: scale(1.05) rotate(-10deg);
      }
    }
  }
}
